
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

header {
  height: 15%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ccc;
}

nav {
  height: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #888;
}

main {
  height: 65%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

footer {
  height: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #888;
}

.container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.box {
  width: 45%;
  margin: 10px;
  padding: 20px;
  border: 2px solid red;
}

.box-green {
  width: 100%;
  margin: 10px;
  padding: 20px;
  border: 2px solid green;
}

.box-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.box-title {
  margin: 10px;
  font-weight: bold;
}

.box-title-red {
  color: red;
}

.box-title-green {
  color: green;
}


#console {
    max-width: 100%;
    width: auto;
    overflow-x: auto;
    background-color: #f0f0f0;
    padding: 10px;
    border: 1px solid #ccc;
    margin-top: 20px;
    max-height: 300px;
    height: auto;;
  }
  
  footer {
    background-color: #333;
    color: #fff;
    font-size: 14px;
    padding: 20px;
    text-align: center;
  }
  
  .footer-container {
    display: flex;
    justify-content: space-between;
  }
  
  .left-section a {
    color: #fff;
    text-decoration: none;
  }
  
  .right-section p {
    margin: 0;
  }


  #codigo-js {
    height: auto;
    min-height: 100px;
    max-height: 500px;
    width: 100%;
    padding: 10px;
    font-size: 12px;
    border: 2px solid #ccc;
    border-radius: 5px;
    resize: vertical;
  }